body{
    margin-left:20px;
    margin-right:20px;
}

p,h1,h2,h3,h4,h5,ul{
    padding:0px;
    margin:0px;
}

ul{
    list-style:none;
}


#mainContainer{
    display:flex;
    flex-direction: column;
    width:800px;
    border: 1px solid black;
    border-radius: 5px;
}

#mainTitle{
    text-align: center;
    background-color: rgb(222, 56, 222);
}


#songListContainer{
    display: flex;
    flex-direction: column;
    padding:10px;
    background-color: rgb(236, 221, 236);
    gap:10px;
}

.songContainer{
    background-color: rgb(224, 154, 224);
    padding:10px;
    border: 1px solid black;
    border-radius: 5px;
}

.songDetailsContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:fit-content;
    background-color: rgb(224, 154, 224);
    padding:10px;
    border: 1px solid black;
    border-radius: 5px;
}