body{
    margin-left:20px;
    margin-right:20px;
}

ul{
    list-style:none;
    padding:0px;
    margin:0px;
}

#mainTitle{
    text-align: center;
}

#songListContainer{
    display:flex;
    flex-wrap: wrap;
    /*justify-content: center;*/
    column-gap:15px;
    row-gap:15px;
}

.songContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis:auto;
    padding:10px;
    border: 1px solid black;
    border-radius: 5px;
}

.songDetailsContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:fit-content;
    padding:10px;
    border: 1px solid black;
    border-radius: 5px;
}